{% extends 'website/base.html' %} {% block nav-contact %} active {% endblock %} {% block content %}
<div class="container bd-example margin-top-60">
  <div class="contact-details" style="width: 350px; margin: 0 auto;">
    <address>
      <strong>Name: </strong>Vijaykumar Tapan Bhattacharji
    </address>

    <address>
      <strong>Nationality: </strong>Indian
    </address>

    <address>
      <strong>Age: </strong>28
    </address>

    <address>
      <strong>Phone Number: </strong>(+86) 185 1670 0972
    </address>

    <address>
      <strong>Email: </strong><a href="mailto:vijaykumarbhattacharji@hotmail.com">vijaykumarbhattacharji@hotmail.com</a>
    </address>
  </div>
</div>
{% endblock %}