{% extends 'website/base.html' %} {% block nav-home %} active {% endblock %} {% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container resumeheader">
        <div class="intro-text">
            <span class="name">Resume</span>
            <hr class="star-light">
            <span class="skills">Software Engineer - Web Developer - Game Programmer</span>
        </div>
    </div>
</header>
<div class="container">
    <section class="resume resume-summary">
        <h3>
            <i class="fa fa-list-alt" aria-hidden="true"></i> Summary</h3>
        <p>Software engineer with 4 and half years of industry experience with Python, PHP and Javascript. Currently working
            as a software engineer at Juwai.com at Shanghai, China</p>

        <p>I think of programming languages as tools to solve problems and hence I am not too attached to any one programming
            language. Throughout my career I have used programming languages that best suited the job at hand. I do slightly
            prefer python over other languages because of it's ease of use.</p>

        <p>I enjoy solving logical problems and making video games in my spare time.</p>

    </section>
    <section class="resume resume-education">
        <h3>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h3>
        <h6 style="text-align: center; margin-top: 5px;">Degree: Bachelor of Computer Science Majoring in Computer Game Development</h6>
        <h5 style="text-align: center; margin-top: 5px;">Schools/Universities</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Institution</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>The Bishop's School, Pune</td>
                    <td>1995</td>
                    <td>2005</td>
                </tr>
                <tr>
                    <td>Nowrosjee Wadia College</td>
                    <td>2006</td>
                    <td>2008</td>
                </tr>
                <tr>
                    <td>Staffordshire University</td>
                    <td>2009</td>
                    <td>2013</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="resume resume-skills">
        <h3>
            <i class="fa fa-tasks" aria-hidden="true"></i> Skills</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Language/Skill</th>
                    <th>Last Used</th>
                    <th>Level</th>
                    <th>Experience</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Python</td>
                    <td>{% now "F, Y" %}</td>
                    <td>Expert</td>
                    <td>3 Years</td>
                </tr>
                <tr>
                    <td>PHP</td>
                    <td>{% now "F, Y" %}</td>
                    <td>Intermediate</td>
                    <td>5 years</td>
                </tr>
                <tr>
                    <td>Javascript</td>
                    <td>{% now "F, Y" %}</td>
                    <td>Expert</td>
                    <td>6 years</td>
                </tr>
                <tr>
                    <td>Laravel Framework</td>
                    <td>{% now "F, Y" %}</td>
                    <td>Intermediate</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>Django Framework</td>
                    <td>{% now "F, Y" %}</td>
                    <td>Intermediate</td>
                    <td>1 year</td>
                </tr>
                <tr>
                    <td>C#</td>
                    <td>March, 2015</td>
                    <td>Intermediate</td>
                    <td>3 Years</td>
                </tr>
                <tr>
                    <td>AngularJS</td>
                    <td>July, 2016</td>
                    <td>Novice</td>
                    <td>1 year</td>
                </tr>
                <tr>
                    <td>NodeJs</td>
                    <td>July, 2016</td>
                    <td>Intermediate</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>Ionic</td>
                    <td>July, 2016</td>
                    <td>Novice</td>
                    <td>1 year</td>
                </tr>
                <tr>
                    <td>Unity3D</td>
                    <td>March, 2015</td>
                    <td>Intermediate</td>
                    <td>5 years</td>
                </tr>
                <tr>
                    <td>Ruby on Rails</td>
                    <td>April, 2018</td>
                    <td>Intermediate</td>
                    <td>1 year</td>
                </tr>
                <tr>
                    <td>Postgresql</td>
                    <td>April, 2018</td>
                    <td>Intermediate</td>
                    <td>1 year</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="resume resume-experience">
        <h3>
            <i class="fa fa-id-card" aria-hidden="true"></i> Experience</h3>
        <p>
            <strong>Summary: </strong>5 years of industry experience as a Software Engineer.</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dragonsoft Research, Malaysia</td>
                    <td>March, 2013</td>
                    <td>March, 2015</td>
                </tr>
                <tr>
                    <td>DailyFresh Foods PVT LTD, Shanghai</td>
                    <td>May, 2015</td>
                    <td>July, 2016</td>
                </tr>
                <tr>
                    <td>Juwai.com, Shanghai</td>
                    <td>July, 2016</td>
                    <td>December, 2017</td>
                </tr>
                <tr>
                    <td>EIC Education, Shanghai</td>
                    <td>December, 2017</td>
                    <td>April, 2018</td>
                </tr>
            </tbody>
        </table>
        <h5>Details: </h5>
        <p>My first job was at Dragonsoft Research, Malaysia where I worked as an application programmer. Working here gave
            me much needed Industry experience and greatly improved my coding skills. In the two years that I spent working
            here I have gained valuable industry knowledge. While working here I cultivated great interest in the finer aspects
            of Web Development and this led to my next job.</p>

        <p>My second job took me to Shanghai, the business capital of the east. I started working for a company called Daily
            Fresh as a senior web developer. My job here was to make a POS (Point of Sale) System on an Android device. To
            accomplish this task I used a multitude of technologies such as Cordova, Ionic, the MEAN stack and AngularJS.
            Using these technologies gave me a deep insight into the JavaScript eco-system. However after finishing this
            project there was nothing much do other than general IT tasks and I felt like I wasn’t growing as developer doing
            them and so I have started looking for other job opportunities where I can keep improving as Web Developer.</p>

        <p>My third job was working at Juwai as a Software Engineer, here I developed and maintained core systems for juwai-admin
            which is a custom cms for the main juwai.com website. I also worked on list.juwai.com which is our international
            website for agents. This is the first company I worked for that had an Agile workflow and I learned to use tools
            like Jira and Git thoroughly. I have gained a lot of experience with Laravel, Python and Nodejs while working
            here.</p>
        
        <p>My most recent job was at EIC Education as a Software Engineer, here I was the primary developer for prepsmith, an 
          education platform made for our students at EIC Education. The coding languages used for this project were Ruby and Javascript
          and the website was built using Ruby on Rails and EmberJS. In the five months that I worked here I gained valuable knowledge of Ruby on Rails version
          4 and Postgresql however I think the job did not suite me because I wanted to use newer technologies such as Docker, 
          RoR version 5 and React and I also felt really uncomfortable using a very old version of EmberJS and felt my JS skills were not
          progressing. So I decided to resign and look for new opportunities elsewhere.
        </p>
    </section>
</div>
{% endblock %}